# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Data
data/raw/
*.parquet

# SQLite databases
*.db
*.db-journal
*.sqlite
*.sqlite3

# Outputs
outputs/
reports/
figures/

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/